<!DOCTYPE html>
<html>
  <head>
    <title>Book App Demo</title>
    <link href='styles/reset.css' rel='stylesheet'/>
    <link href='styles/base.css' rel='stylesheet'/>
  </head>
  <body>
    <p>Hello World</p>
    <%- include('show.ejs', { book : book }) %>
  </body>
</html>