<!DOCTYPE html>
<html>
  <%- include('../../layout/head') %>
  <body>
    <%- include('../../layout/header') %>
    
    <a id="myLinks" class="home" href="#home">Home</a>
    <h2>Search by Title or Author</h2>

    <form action="/searches" method="post">
      <!-- when we make a form with a "post" method -->
      <!-- the data from the form is avail on the req.body -->
      <!-- it is available via the input "name" -->

      <input  class='inpA' type="text" name="search" placeholder="Enter a title or author" required>

      <fieldset class='inpB'>
        Title&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="search" value="title" required>
      </fieldset>

      <fieldset class='inpC'>
        Author&nbsp;&nbsp;<input type="radio" name="search" value="author" required>
      </fieldset>

      <button class='inpD' type="submit">Search the Google Books API</button>
    </form>

    <%- include('../../layout/footer') %>

    <%- include('../../layout/navScript') %>

  </body>
</html>