<!DOCTYPE html>
<html>
  <head>
    <title>Bookshelf!</title>
  </head>
  <body>
    <h1>Search Results:</h1>
    <ul>
      <% results.forEach(book => { %>
        <li>
          <img src=<%= book.image %> >
          <h2><%= book.title %></h2>
          <h3><%= book.authors %></h3>
          <p><%= book.description %></p>
        </li>
      <% }) %>
    </ul>
  </body>
</html>