<!DOCTYPE html>
<html>
  <head>
    <title>Bookshelf!</title>
    <link href='styles/reset.css' rel='stylesheet'/>
  </head>
  <body>
    <h1>Search Results:</h1>
    <%- include('./books/show', { books : searchBooks }) %>
  </body>
</html>