<!DOCTYPE html>
<html>
  <head>
    <title>Bookshelf!</title>
    <link href='styles/reset.css' rel='stylesheet'/>
  </head>
  <body>
    <a href='/'>home</a>
    <%- include('../books/show.ejs', { books: searchBooks }) %>
  </body>
</html>