<!DOCTYPE html>
<html>
  <head>
    <title>Error Encountered</title>
    <link href='styles/reset.css' rel='stylesheet'/>
  </head>
  <h1>You've encountered an error</h1>
    <p> error status: <%= error %></p>
</html>