<!DOCTYPE html>
<html>
  <head>
    <title>Book App Demo</title>
    <link href='styles/reset.css' rel='stylesheet'/>
    <link href='styles/base.css' rel='stylesheet'/>
  </head>
  <body>
    <a href='/search'>New Search</a>
    <p>Hello World</p>
    <% seedBooks.forEach((book, index) => { %>
      <%- include('books/show.ejs', { book : book }) %>
      <a href='books/<%=book.id%>'>View details</a>
    <% }); %>
  </body>
</html>